RoomBookingApp.API/obj/MeetingRoomBookingApp.API.csproj.nuget.dgspec.json
RoomBookingApp.API/obj/MeetingRoomBookingApp.API.csproj.nuget.g.props
RoomBookingApp.API/obj/MeetingRoomBookingApp.API.csproj.nuget.g.targets
RoomBookingApp.API/obj/project.assets.json
RoomBookingApp.API/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
RoomBookingApp.API/obj/Debug/net7.0/MeetingRoomBookingApp.API.AssemblyInfo.cs
RoomBookingApp.API/obj/Debug/net7.0/MeetingRoomBookingApp.API.GeneratedMSBuildEditorConfig.editorconfig
RoomBookingApp.API/obj/Debug/net7.0/MeetingRoomBookingApp.API.GlobalUsings.g.cs
RoomBookingApp.Core.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
RoomBookingApp.Core.Tests/bin/Debug/net7.0/MeetingRoomBookingApp.Core.Tests.deps.json
RoomBookingApp.Core.Tests/bin/Debug/net7.0/MeetingRoomBookingApp.Core.Tests.runtimeconfig.json
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/archive/empty.7z
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/archive/empty.bz2
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/archive/empty.gz
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/archive/empty.tar
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/archive/empty.xz
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/archive/empty.zip
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/document/empty.docx
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/document/empty.odt
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/document/empty.pdf
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/document/empty.rtf
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.avif
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.bmp
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.dds
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.dib
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.emf
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.exif
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.gif
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.heic
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.heif
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.ico
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.j2c
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.jfif
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.jp2
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.jpc
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.jpe
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.jpg
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.jxr
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.pbm
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.pcx
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.pgm
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.png
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.ppm
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.rle
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.tga
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.tif
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.wdp
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.webp
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/image/empty.wmp
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/sheet/empty.ods
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/sheet/empty.xlsx
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/slide/empty.odp
RoomBookingApp.Core.Tests/bin/Debug/net7.0/EmptyFiles/slide/empty.pptx
RoomBookingApp.Core.Tests/obj/MeetingRoomBookingApp.Core.Tests.csproj.nuget.dgspec.json
RoomBookingApp.Core.Tests/obj/MeetingRoomBookingApp.Core.Tests.csproj.nuget.g.props
RoomBookingApp.Core.Tests/obj/MeetingRoomBookingApp.Core.Tests.csproj.nuget.g.targets
RoomBookingApp.Core.Tests/obj/project.assets.json
RoomBookingApp.Core.Tests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
RoomBookingApp.Core.Tests/obj/Debug/net7.0/MeetingRoomBookingApp.Core.Tests.AssemblyInfo.cs
RoomBookingApp.Core.Tests/obj/Debug/net7.0/MeetingRoomBookingApp.Core.Tests.csproj.BuildWithSkipAnalyzers
RoomBookingApp.Core.Tests/obj/Debug/net7.0/MeetingRoomBookingApp.Core.Tests.csproj.CopyComplete
RoomBookingApp.Core.Tests/obj/Debug/net7.0/MeetingRoomBookingApp.Core.Tests.csproj.FileListAbsolute.txt
RoomBookingApp.Core.Tests/obj/Debug/net7.0/MeetingRoomBookingApp.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
RoomBookingApp.Core.Tests/obj/Debug/net7.0/MeetingRoomBookingApp.Core.Tests.GlobalUsings.g.cs
RoomBookingApp.Core/bin/Debug/net7.0/MeetingRoomBookingApp.Core.deps.json
